text:C:/Users/show5/HACKU_app/.gitignore
# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Secrets (Google Cloud Service Account Keys, etc.)
app/src/main/assets/*.json